<div class="container">
    <h3>Leave a Comment</h3>
    <!-- <div class="noUserAlert" *ngIf="" -->
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="col-md-6 col-md-offset-3 loginBox">
            <textarea [formControlName]="'commentBox'"></textarea>
            <button class="btn btn-success" [disabled]="!form.valid" type="submit">Submit</button>
        </div>
    </form>
</div>
  <!-- <p *ngIf="loginType">Wrong username or password! Try Again.</p> -->
  <!-- This links to the page where the user views the package dashboard and adds to his cart -->
  